<!-- Being passed a reference to an Album object. Reference: 'album' -->

{% extends 'music/base.html' %}

{% block body %}
<div class="container">
    <div class="jumbotron">

        <img src="{{ album.logo }}" height="300" width="300">

        <h1>{{ album.title }}</h1>
        <h3>{{ album.artist }}</h3>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <div class="list-group">
        {% if album.song_set.all %}
            <button type="button" class="list-group-item list-group-item-action active" disabled>List of songs:</button>
        {% for song in album.song_set.all %}
        <a href="#" class="list-group-item list-group-item-action">{{ song }}</a>
        {% endfor %}
        {% else %}
        <button type="button" class="list-group-item list-group-item-action" disabled>Sorry, no songs have been added for this album.</button>
        {% endif %}
        </div>

    </div>
</div>

{% endblock %}