<!-- Being passed a reference to an album: album -->

<img src="{{ album.logo }}">

<h1>{{ album.title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<!--
When submitted, the form will take the action of redirecting to the url music:favorite (within urls.py), passing along
the named group data as album.id. Why isn't it album_id?
For loop creates each radio button and label in the form.
Using name="song" allows django to pull out the value (song.id) using the reference POST['song'].
If statement just puts a little start by the label if the song has "favorite status".
-->
<form action="{% url 'music:favorite' album.id %}" method="post">
	{% csrf_token %}
	{% for song in album.song_set.all %}
		<input type="radio" id="song{{ forloop.counter}}" name="song" value="{{ song.id }}">
		<label for="song{{ forloop.counter}}">
			{{song}}
			{% if song.is_favorite %}
				<img src="http://i.imgur.com/b9b13Rd.png">
			{% endif %}
		</label><br>
	{% endfor %}
	<input type="submit" value="Favorite">
</form>