<!-- Being passed a reference to an Album object. Reference: 'album' -->

{% extends 'music/base.html' %}

{% block body %}
<div class="container">
    <div class="jumbotron">

        {% include 'music/album_view.html' %}
            <br><form action="{% url 'music:detail' album.pk %}" method="post" style="display: inline;">
                <input type="hidden" name="song-add" value="song-add"/>
		{% csrf_token %}
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </form>
        </div>

    </div>
</div>

{% endblock %}