<!-- Being passed a reference to an Album object. Reference: 'album' -->

{% extends 'music/base.html' %}

{% block body %}
<div class="container">
    <div class="jumbotron">

        {% include 'music/album_view.html' %}
        <br>

        <div class="form-group">
        <form action="{% url 'music:song-added' album.id %}" method="post" style="display: inline;">
            {% csrf_token %}
                <label for="songTitle">Song title</label>
                <input type="text" class="form-control" id="songTitle" name="songTitle"/>
                <small id="songWarning" class="form-text text-muted">Here's some informative text.</small>
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </form>
        </div>

    </div>
</div>

{% endblock %}